@page
@model weblib.Pages_Entries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entry.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entry.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entry.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Entry.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
