﻿@{
    ViewData["Title"] = "Домашняя страница";
    var phoneNumber = TempData["PhoneNumber"] as string;
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">Добро пожаловать, @ViewData["first_name"]!</h2>
                        <hr />
                        <h3 class="card-subtitle mb-2 text-muted">Данные пользователя</h3>
                        <p><strong>Фамилия:</strong> @ViewData["last_name"]</p>
                        <p><strong>Имя:</strong> @ViewData["first_name"]</p>
                        <p><strong>Отчество:</strong> @ViewData["middle_name"]</p>
                        <p><strong>Номер читательского билета:</strong> @ViewData["PhoneNumber"]</p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-center mt-5">
            <h1 class="display-4">Добро пожаловать!</h1>
            <p class="lead">Страница входа</p>
        </div>
    }
</div>