@{
    ViewData["Title"] = "Перечень заказов";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>База данных</th>
            <th>Шифр хранения</th>
            <th>Место хранения</th>
            <th>Место выдачи</th>
            <th>Забронирован</th>
            <th>Дата заказа</th>
            <th>Комментарий</th> <!-- Новый заголовок столбца для комментариев -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderDatabase</td>
                <td>@item.OrderChipher</td>
                <td>@item.OrderPlaceholder</td>
                <td>@item.OrderPlaceIssue</td>
                <td>@item.OrderBron</td>
                <td>@item.OrderDate.ToString("yyyy-MM-dd")</td>
                <td>@item.OrderComment</td> <!-- Вывод значения поля комментария для каждого заказа -->
            </tr>
        }
    </tbody>
</table>



@* @model IEnumerable<Models.OrderViewModel> *@

@* <table class="table">
    <thead>
        <tr>
            <th>База данных</th>
            <th>Шифр хранения</th>
            <th>Место хранения</th>
            <th>Место выдачи</th>
            <th>Забронирован</th>
            <th>Дата заказа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderDatabase</td>
                <td>@item.OrderChipher</td>
                <td>@item.OrderPlaceholder</td>
                <td>@item.OrderPlaceIssue</td>
                <td>@item.OrderBron</td>
                <td>@item.OrderDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table> *@
