<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Заявка на продление абонемента</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <style>
       .btn-sm {
           padding: 0.25rem 0.5rem;
           font-size: 0.875rem;
       }
   </style>
</head>
<body>
   <div class="container">
       <h1>Заявка на продление абонемента</h1>
       <p>Номер заявки: 1</p>
       <p>Номер заказа: 18</p>
       <p>Номер читательского билета: 0006491011036</p>
       <p>Длительность продления: 15</p>
       <p>Дата заявки: 19.06.2024</p>
       <p>Статус: черновик</p>
       <button type="button" class="btn btn-primary btn-sm">Сохранить</button>
       <button type="button" class="btn btn-secondary btn-sm">Отменить</button>
   </div>
</body>
</html>