<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Новый заказ </title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <style>
       .btn-sm {
           padding: 0.25rem 0.5rem;
           font-size: 0.875rem;
       }
   </style>
</head>
<body>
   <div class="container">
       <h1>Заказ №1</h1>
       <p>Номер читательского билета: 0006491011036</p>
       <p>Дата заказа: 19.06.2024</p>
       <p>Статус заказа: в работе</p>
       <p>Место выдачи: ЕЧЗ</p>
       <p>Номер заказа: 18</p>
       <p>Изадние: Моруа, Андре. Собрание сочинений : в 10 т. Т. 4 : Дон-Жуан, или Жизнь Байрона : роман, 2001. - 574 с.</p>
       <button type="button" class="btn btn-primary btn-sm">Сохранить</button>
       <button type="button" class="btn btn-secondary btn-sm">Отменить</button>
   </div>
</body>
</html>