﻿@if (ViewData["OrderDetailsList"] is List<Dictionary<string, string>> orderDetailsList)
{
    <div class="container mt-3">
        <h2>Детали заказов пользователя</h2>
        <div class="list-group">
            @foreach (var orderDetails in orderDetailsList)
            {
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Заказ от @orderDetails["orderDate"]</h5>
                    </div>
                    <p class="mb-1">База данных каталога: @orderDetails["databaseCatalog"]</p>
                    <p class="mb-1">Шифр хранения: @orderDetails["storageCode"]</p>
                    <p class="mb-1">Место хранения: @orderDetails["storageLocation"]</p>
                    <p class="mb-1">Место выдачи: @orderDetails["issuePlace"]</p>
                    <p class="mb-1">Заказ забронирован: @orderDetails["isOrderBooked"]</p>
                    @* <p class="mb-1">Заказ забронирован: orderDetails["historyBody"]</p> *@
                    <a href="./LongerOrder" class="btn btn btn-primary">Продлить заказ</a>
                </a>
            }
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
    <a href="./NewOrder" class="btn btn-lg btn-primary">Новый заказ</a>
    </div>
}