﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>ФИО</h2>
<p>Фамилия: @ViewData["last_name"]</p>
<p>Имя: @ViewData["first_name"]</p>
<p>Отчество: @ViewData["middle_name"]</p>

<p>Use this page to detail your site's privacy policy.</p>
